* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  font-weight: 500;
  color: #000;
  color: rgb(136, 132, 132);
}

.container {
  margin: auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* configuraçao header */
header {
  margin-top: 20px;
  padding: 15px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.menu ul li {
  margin-right: 20px;
}

/* configuraçao btn e inputs */
.btn {
  padding: 15px;
  color: rgb(136, 132, 132);
  font-weight: 600;
  transition: all 0.4s;
  border-radius: 15px;
}

.btn:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: rgb(78, 173, 102);
}

.btn-busca {
  border: none;
}

input {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgb(136, 132, 132);
  outline: none;
  transition: all 0.4s;
}

input:focus {
  border: solid 1px rgb(78, 173, 102);
}

input:hover {
  box-shadow: 2px 2px 5px rgb(78, 173, 102);
}

/* configuraçao main */

main {
  align-items: center;
}

.titulo {
  margin-top: 30px;
}

.conteudo {
  margin: 30px;
}


/* configuraçao cadastro */

.cadastro {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.btn-cadastro {
  display: block;
  border: none;
  margin: 10px auto;
}

.padrao_input, .aviso {
  display: block;
  width: 300px;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgb(136, 132, 132);
  outline: none;
  transition: all 0.4s;
}

.seleciona {
  width: 320px;
}

/* avisos */
.vermelho{
  color: red;
  border: solid 1px red;
  font-size: 20px;
  text-align: center;
}

.verde{
  color: rgb(78, 173, 102);
  border: solid 1px rgb(78, 173, 102);
  font-size: 20px;
  text-align: center;
}

/* config home */

.painel_config{
  justify-content: space-between;
  margin: 30px;
}

.noticia{
  margin: 30px 10px;
  width: 200px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 15px;
}

.noticia h2,h3,p{
  box-sizing: border-box;
  font-display: inline-block;
  margin-bottom: 10px;
}

